{% extends "base.html" %}

{% block title %}PV世界マップ{% endblock title %}



{% block content %}

    <h1>PVポテンシャル_20200508版サンプル</h1>
    
    <p>{{ variable }}</p>
    
	<div id="world-map" style="float:left;">

		<!-- マップ読み込み -->
		{% include "PV_heatmap.html" %}

	</div>

	<div id="100-box" style="float:left;">
	
		<div id="bunnrui" style="clear:both;">
			ポテンシャル(kWh/kWp)
		</div>
	
		<div id="red-box">
			<img src="media/images/red.png">
			～1300
		</div>
		
		<div id="orange-box">
			<img src="media/images/orange.png">
			1300～1150
		</div>

		<div id="yellow-box">
			<img src="media/images/yellow.png">
			1150～1000
		</div>
		
		<div id="green-box">
			<img src="media/images/green.png">
			1000～850
		</div>
		
		<div id="ygreen-box">
			<img src="media/images/ygreen.png">
			850～700
		</div>
		
		<div id="blue-box">
			<img src="media/images/blue.png">
			700～550
		</div>

		<div id="gray-box">
			<img src="media/images/gray.png">
			550～
		</div>
		
	</div>

	<div style="clear:both;">
    	<p>備考</p>
        <p>色分け7種類</p>
        <p>PV_heatmap.htmlを埋め込み</p>
        <p>R+X1*Tを計算</p>
    </div>
    
    <form method="post" action="calc">

        {% csrf_token %}

        <input type="number" name="val1">

        <button type="submit"> 再計算する </button>

        {{ answer }}

    </form>

{% endblock %}